
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Change Password</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email">Old Password</label>
                            <input type="hidden" class="EmployeeOldPassword" value="@ViewBag.Password"/>
                            <input type="password" class="form-control EmployeeOldPasswordField" autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input id="password" type="password" class="form-control NewPassword" tabindex="2">
                            <div id="pwindicator" class="pwindicator">
                                <div class="bar"></div>
                                <div class="label"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm">Confirm Password</label>
                            <input type="password" class="form-control ConfirmPassword">
                        </div>

                        <div class="form-group">
                            <span class="text-danger customErrorMessageChangePassword"></span>
                            <button type="button" class="btn btn-primary btn-lg btn-block UpdatePassword" tabindex="4">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/App_Assests/js/account.js"></script>

