
@{
    ViewBag.Title = "AddPaySlip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Add Pay Slip</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Select Employee</label>
                                    <div class="form-group">
                                        <select id="EmployeesList" class="form-control " data-placeholder=" Select a Employee" style="width: 100%;">
                                            @foreach (var Employee in ViewBag.EmployeesList)
                                            {
                                                <option value="@Employee.Id">@Employee.Name</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Select Month</label>
                                    <input type="month" class="form-control PaidMonth" value="@ViewBag.CurrentDate" max="3000-12-31">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Earnings</p>
                                <span>Basic : </span> <input type="number" class="form-control Basic" onkeyup="SalaryCalculation()" />
                                <span>DA : </span> <input type="number" class="form-control DA" onkeyup="SalaryCalculation()"/>
                                <span>HRA : </span> <input type="number" class="form-control HRA" onkeyup="SalaryCalculation()"/>
                                <span>Medical Allowances  : </span> <input type="number" class="form-control MedicalAllowances" onkeyup="SalaryCalculation()"/>
                                <span>Conveyance Charges : </span> <input type="number" class="form-control ConveyanceCharges" onkeyup="SalaryCalculation()"/>
                                <span>Special Allowances  : </span> <input type="number" class="form-control SpecialAllowances" onkeyup="SalaryCalculation()"/>
                                <br />
                                <p><b>Total Earnings : &nbsp;&nbsp;&nbsp;&nbsp; <span class="TotalEarnings">0</span></b></p>
                            </div>
                            <div class="col-md-6">
                                <p>Deduction</p>
                                <span>Income Tax : </span> <input type="number" class="form-control IncomeTax" onkeyup="SalaryCalculation()"/>
                                <span>Educational Cess : </span> <input type="number" class="form-control EducationalCess" onkeyup="SalaryCalculation()"/>
                                <span>LOP : </span> <input type="number" class="form-control LOP" onkeyup="SalaryCalculation()"/>
                                <br />
                                <p><b>Total Deduction : &nbsp;&nbsp;&nbsp;&nbsp; <span class="TotalDeduction">0</span></b></p>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <p><b>Net Pay : <b class="NetPay">0</b></b></p>
                            </div>
                        </div>
                        <button class="btn btn-block btn-info AddEmployeePaySlip" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/App_Assests/js/payslip.js"></script>