.form-error {
    border: 1px solid red;
}

.EmployeeChatInfo {
    padding-bottom: 0px;
}

.EmployeeChatInfo:hover {
    cursor: pointer;
    background-color: #e3e3e3;
    border-radius: 10px;
}

.EmployeeList li.EmployeeChatInfo {
    padding: 5px;
}

button.btn.btn-block[disabled]:hover {
    background-color: gray !important;
    border: gray;
}

button.btn.btn-block.btn-info[disabled] {
    background-color: gray !important;
    border: gray;
}