
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Add News</h4>
                    </div>
                    <div class="card-body">
                        <p>Select Employee</p>
                        <div class="form-group">
                            <select id="EmployeesList" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder=" Select a Employee" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option value="all">All</option>
                                @foreach (var Employee in ViewBag.EmployeesList)
                                {
                                    <option value="@Employee.Id">@Employee.Name <small class="text-success">[ KT-@Employee.EmployeeCode ]</small></option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tile</label>
                            <input type="text" class="form-control Title">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <div class="input-group">
                                <textarea rows="4" cols="500" class="form-control Description" style="min-height: 100px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Select Image</label>
                            <input type="file" name="files" class="form-control Images" onchange="LoadImage(this);">
                        </div>
                        <span class="text-danger AddNewsCustomErrorMessage"></span>
                        <button class="btn btn-block btn-info AddNewsFromSubmit" type="button">Submit</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="~/App_Assests/js/news.js"></script>