
@{
    ViewBag.Title = "ListNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.dataTables.css">
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>List News</h4>
                    </div>
                    <div class="card-body">
                        <table id="newsListTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tile</th>
                                    <th>Description</th>
                                    <th>Images</th>
                                    @if (Session["IsAdmin"].ToString() == "1")
                                    {
                                        <th>Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var News in ViewBag.NewsList)
                                {
                                    <tr>
                                        <td>@News.Title</td>
                                        <td>@News.Description</td>
                                        @if (string.IsNullOrEmpty(News.Images))
                                        {
                                            <td>No Image Added</td>
                                        }
                                        else
                                        {
                                            <td><img src="@News.Images" width="100" height="100" /></td>
                                        }

                                        @if (Session["IsAdmin"].ToString() == "1")
                                        {
                                            <td class="text-center"><a href="javascript:void(0);" data-id="@News.Id" id="DeleteNews"><i class="fas fa-trash text-danger"></i></a></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/assets/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/assets/js/jquery.dataTables.js"></script>
<script src="~/App_Assests/js/news.js"></script>
<script>
    $(document).ready(function () {
        $('#newsListTable').DataTable();
    });
</script>