
@{
    ViewBag.Title = "ViewLeaveRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.dataTables.css">

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Employess Leave Requests</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Select Month</label>
                                    <input type="month" class="form-control LeaveRequestMonth" value="@ViewBag.CurrentDate" max="3000-12-31">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button class="btn btn-block btn-info SelectMonth" id="SelectMonth" type="button" style="margin:28px 0px 0px 0px;">Submit</button>
                                </div>
                            </div>
                        </div>

                        <div id="leaveRequestList" style="display:none">
                            <table class="table table-bordered table-md" id="leaveRequestListTable" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        @if (Session["IsAdmin"].ToString() == "1")
                                        {
                                            <th>Employee Code</th>
                                        }
                                        <th>Team</th>
                                        <th>Title</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Description</th>
                                        <th>Staus</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody class="LeaveRequestListBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/assets/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        //$('#leaveRequestListTable').DataTable();
    });
    var IsAdmin = '@Session["IsAdmin"].ToString()';
</script>
<script src="~/App_Assests/js/leave.js"></script>
